.footer {
  display: flex;
  justify-content: space-around;
  margin-right: 600px;
  margin-left: 600px;
  padding: 4px;
}

.ul {
  display: flex;
  justify-content: center;
  list-style: none;
  color: black;
}
